<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a  class="navbar-brand">App</a>
    <div class="navbar-nav mr-auto" *ngIf="this.isLogged">
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Driver
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="drivers">List</a>
          <a class="dropdown-item" routerLink="drivers.add">Add</a>          
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Vehicles
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="vehicles">List</a>
          <a class="dropdown-item" routerLink="vehicles.add">Add</a>          
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Routes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="routes">List</a>
          <a class="dropdown-item" routerLink="routes.add">Add</a>          
        </div>
      </li>

      <li class="nav-item ">
        <a class="nav-link " href="#" routerLink="schedule"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Schedules
        </a>       
      </li>
    
      
    </div>
    <form class="form-inline my-2 my-lg-0">
        
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()" >Logout</button>
    </form>
  </nav>

  <div class="container mt-3">
    <h1>Welcome to AbdoTest</h1>
    <router-outlet></router-outlet>
    <notifier-container></notifier-container>

  </div>
</div>


