<div>
    <div *ngIf="currentVehicle.id" class="edit-form">
      <h4>Vehicle</h4>
      <form>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            required
            [(ngModel)]="currentVehicle.description"
            name="description"
          />
        </div>
  
        <div class="form-group">
          <label for="year">Year</label>
          <input
            class="form-control"
            id="year"
            required
            [(ngModel)]="currentVehicle.year"
            name="year"
          />
        </div>
  
        <div class="form-group">
          <label for="make">MAKE</label>
          <input
            class="form-control"
            id="make"
            required
            [(ngModel)]="currentVehicle.make"
            name="make"
          />
        </div>
  
        <div class="form-group">
          <label for="capacity">Capacity</label>
          <input
            type="text"
            class="form-control"
            id="capacity"
            required
            [(ngModel)]="currentVehicle.capacity"
            name="capacity"
          />
        </div>
        
  
     
  
      <div class="form-group">
        <label for="active">Active</label>
          <mat-slide-toggle 
            id="active"
            name="active" 
            [(ngModel)]="currentVehicle.active">
         </mat-slide-toggle>
        </div>     
        
      </form>
  
      <button
      type="button"  
      class="btn btn-primary"
        
        (click)="updateVehicle()"
      >
        Update
      </button>
      
      <button class="btn btn-danger" (click)="deleteVehicle()">
        Delete
      </button>
  
      
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentVehicle.id">
      <br />
      <p>Loading...</p>
    </div>
  </div>